/* ABOUT US */

.about-us-image {
  width: 60vw;
  object-fit: cover;
}

.about-us-paragraph {
  width: 60vw;
}

.about-us-div {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px 20px 100px 20px;
  border: 1px solid #ccc;
}
