/* HOTEL-SEARCH */
.fieldset-travel-details {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .fieldset-travel-details label {
    display: block;
    width: 100px;
  }
  
  .fieldset-travel-details div {
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 10px;
  }
  
  .fieldset-travel-details button {
    display: inline-block;
    width: 15%;
    height: 100%;
  }
  
  .fieldset-travel-details div:last-child {
    margin-right: 0;
  }
  
  @media (max-width: 950px) {
  
    .fieldset-travel-details {
      flex-direction: column;
      padding: 20px 60px;
    }
  
    .fieldset-travel-details div {
      width: 100%;
      margin-bottom: 15px;
    }
  
    .fieldset-travel-details label {
      display: inline-block;
      width: 100px;
    }
  }
  
  